#======== File I/O ===============
InputFile                     : ../../HEVC_test_sequence/ClassF/SlideEditing_1280x720_30.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1280        # Input  frame width
SourceHeight                  : 720         # Input  frame height
# FramesToBeEncoded              : 300         # Number of frames to be coded
FramesToBeEncoded              : 2         # Number of frames to be coded

Level                         : 3.1

BitstreamFile   : SlideEditing_1280x720_30.bin
ReconFile       : SlideEditing_1280x720_30_rec.yuv