#======== File I/O ===============
InputFile                     : ../../HEVC_test_sequence/ClassF/ChinaSpeed_1024x768_30.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1024        # Input  frame width
SourceHeight                  : 768         # Input  frame height
# FramesToBeEncoded              : 500         # Number of frames to be coded
FramesToBeEncoded              : 2         # Number of frames to be coded

Level                         : 3.1

BitstreamFile   : ChinaSpeed_1024x768_30.bin
ReconFile       : ChinaSpeed_1024x768_30_rec.yuv